
<p class="x_MsoNormal"><em>Dear participant,</em></p>
<!-- <p>&nbsp;</p> -->
<p class="x_MsoNormal"><em>Thank you for participating in the 6th World Homeshare Congress, on March 21st &amp; 22nd in Brussels.</em></p>
<p class="x_MsoNormal"><em>Your registration will be confirmed as soon as your paiement is received.</em></p>
<p class="x_MsoNormal">&nbsp;</p>

<% if @user.dietary != "Congress and cocktail (20/3) + Gala Diner (21/3)  = 160 € (members only) "%>
<% @user.prices = @user.dietary %>
<% end %>
<p><em><%= @user.first_name %>, you have choosen the option : <%= @user.prices %></em></p>

<p>&nbsp;</p>
<p>Payment</p>
<p><em>Thanks for your contribution on 1Toit2Ages account:</em></p>
<p>IBAN BE06 3631 7546 1522</p>
<p>BIC BBRUBEBB</p>
<p>&nbsp;</p>
<p>Paypal payment (ignore this if you have already paid and see you soon!) </p>
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post" >

        <input type="hidden" name="cmd" value="_cart">

        <input type="hidden" name="business" value="elizabeth@homeshare.org">

        <input type="hidden" name="lc" value="GB">

        <input type="hidden" name="item_name" value="World Homeshare Congress 2019 - delegate registration">

        <input type="hidden" name="button_subtype" value="products">

        <input type="hidden" name="no_note" value="0">

        <input type="hidden" name="currency_code" value="EUR">

        <input type="hidden" name="add" value="1">

        <input type="hidden" name="bn" value="PP-ShopCartBF:btn_cart_LG.gif:NonHostedGuest">
        <table>

          <input type="hidden" name="on0" value="Delegate rates for Congress">
          <select name="os0">
            <option value="Full Congress: Members of HI Network">Full Congress: Members of HI Network €160.00 EUR</option>

            <option value="Full Congress: Members of HI Network after 20 January 2019">Full Congress: Members of HI Network after 20 January 2019 €180.00 EUR</option>

            <option value="Full Congress: Non-members">Full Congress: Non-members €170.00 EUR</option>

            <option value="Full Congress: Non-members after 20 January 2019">Full Congress: Non-members after 20 January 2019 €190.00 EUR</option>

            <option value="Congress without dinner">Congress without dinner €50.00 EUR</option>

            <option value="Members of UnToit2Ages, students and seniors without dinner">Members of UnToit2Ages, students and seniors without dinner €25.00 EUR</option>

          </select>
          <p>&nbsp;</p>

        </table>

        <input type="hidden" name="option_select0" value="Full Congress: Members of HI Network">

        <input type="hidden" name="option_amount0" value="160.00">

        <input type="hidden" name="option_select1" value="Full Congress: Members of HI Network after 20 January 2019">

        <input type="hidden" name="option_amount1" value="180.00">

        <input type="hidden" name="option_select2" value="Full Congress: Non-members">

        <input type="hidden" name="option_amount2" value="170.00">

        <input type="hidden" name="option_select3" value="Full Congress: Non-members after 20 January 2019">

        <input type="hidden" name="option_amount3" value="190.00">

        <input type="hidden" name="option_select4" value="Congress without dinner">

        <input type="hidden" name="option_amount4" value="50.00">

        <input type="hidden" name="option_select5" value="Members of UnToit2Ages, students and seniors without dinner">

        <input type="hidden" name="option_amount5" value="25.00">

        <input type="hidden" name="option_index" value="0">

        <input type="image" src="https://www.paypalobjects.com/en_GB/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal – The safer, easier way to pay online!">

        <img alt="" border="0" src="https://www.paypalobjects.com/en_GB/i/scr/pixel.gif" width="1" height="1">

      </form>
      <p>&nbsp;</p>
<p class="x_xxmsonormal"><em>We will send you soon some useful information for your arrival at the Congress.</em></p>
<p class="x_xxmsonormal"><em>In the meantime, please do not hesitate to contact us if you need any guidance or assistance.</em></p>
<p>&nbsp;</p>
<p class="x_xxmsonormal"><em>We look forward to seeing you in Brussels.</em></p>
<p class="x_MsoNormal"><strong>The Congress team</strong></p>
<p>&nbsp;</p>
