
<p class="x_MsoNormal"><em>Cher Participant,</em></p>
<p class="x_MsoNormal"><em>Merci pour votre inscription au 6<sup>&egrave;me</sup>&nbsp;Congr&egrave;s du Logement Interg&eacute;n&eacute;rationnel qui se d&eacute;roulera les 21 et 22 mars 2019 &agrave; Bruxelles.</em></p>
<p class="x_MsoNormal"><em>Votre participation sera confirm&eacute;e apr&egrave;s r&eacute;ception de votre paiement.</em></p>
<p class="x_MsoNormal">&nbsp;</p>

<% if @user.dietary != "Congress and cocktail (20/3) + Gala Diner (21/3)  = 160 € (members only) "%>
<% @user.prices = @user.dietary %>
<% end %>
<p><em><%= @user.first_name %>, vous avez choisi l'option : <%= @user.prices %></em></p>

<p>&nbsp;</p>
<p>Paiement</p>
<p><em>Merci pour votre paiement sur le compte de l&rsquo;ASBL :</em></p>
<p>ING Bank - 1Toit2Ages</p>
<p>IBAN BE06 3631 7546 1522</p>
<p>BIC BBRUBEBB</p>
<p>&nbsp;</p>
<p class="x_xmsonormal"><em>D&rsquo;autres informations vous parviendront ult&eacute;rieurement, mais pour toute question n&rsquo;h&eacute;sitez pas &agrave; nous contacter.</em></p>
<p class="x_xmsonormal"><em>Nous nous r&eacute;jouissons de vous accueillir &agrave; Bruxelles&nbsp;!</em></p>
<b><p class="x_MsoNormal">L&rsquo;&eacute;quipe du Congrès</p></b>
