<p>Bonjour <%= @user.first_name %>,</p>

<p>Félicitations, votre demande d'inscription a bien été enregistrée!</p>

<p><%= @user.first_name %>, vous avez choisi l'option :<%= @user.prices %></p>
<b><p>Paiement</p></b>
<u><p>Merci pour votre paiement sur le compte de l&rsquo;ASBL :</p></u>
<p>ING Bank - 1Toit2Ages</p>
<p>IBAN BE39 3630 5564 6819</p>
<p>BIC BBRUBEBB</p>

<p>A bientôt!</p>
