
<p class="x_MsoNormal"><em>Dear participant,</em></p>
<!-- <p>&nbsp;</p> -->
<p class="x_MsoNormal"><em>Thank you for participating in the 6th World Homeshare International Congress, on March 21st &amp; 22nd in Brussels.</em></p>
<p class="x_MsoNormal"><em>Your registration will be confirmed as soon as your paiement is received.</em></p>
<p class="x_MsoNormal"><em>We will send you soon some useful information for your arrival at the Congress.</em></p>
<p class="x_MsoNormal"><em>In the meantime, please do not hesitate to contact us if you need any guidance or assistance.</em></p>
<p class="x_MsoNormal"><em>We look forward to seeing you in Brussels.</em></p>
<p class="x_MsoNormal">&nbsp;</p>
<p><%= @user.first_name %>, you have chosen the option : <%= @user.prices %></p>
<p>&nbsp;</p>
<p>Payment</p>
<p>Thanks for your contribution on 1Toit2Ages account:</p>
<p>IBAN BE39 3630 5564 6819</p>
<p>BIC BBRUBEBB</p>
<p>&nbsp;</p>
<p class="x_MsoNormal"><em>Best regards,</em></p>
<p class="x_MsoNormal"><strong>The Congress team</strong></p>
<p>&nbsp;</p>
