
<p class="x_MsoNormal"><em>Dear participant,</em></p>
<!-- <p>&nbsp;</p> -->
<p class="x_MsoNormal"><em>Thank you for participating in the 6th World Homeshare Congress, on March 21st &amp; 22nd in Brussels.</em></p>
<p class="x_MsoNormal"><em>Your registration will be confirmed as soon as your paiement is received.</em></p>
<p class="x_MsoNormal">&nbsp;</p>
<p><em><%= @user.first_name %>, you have chosen the option : <%= @user.prices %></em></p>
<p>&nbsp;</p>
<p>Payment</p>
<p><em>Thanks for your contribution on 1Toit2Ages account:</em></p>
<p>IBAN BE06 3631 7546 1522</p>
<p>BIC BBRUBEBB</p>
<p>&nbsp;</p>
<p class="x_xxmsonormal"><em>We will send you soon some useful information for your arrival at the Congress.</em></p>
<p class="x_xxmsonormal"><em>In the meantime, please do not hesitate to contact us if you need any guidance or assistance.</em></p>
<p>&nbsp;</p>
<p class="x_xxmsonormal"><em>We look forward to seeing you in Brussels.</em></p>
<p class="x_MsoNormal"><strong>The Congress team</strong></p>
<p>&nbsp;</p>
