<head>
  <title>Homeshare International | Benefits of Homeshare</title>
  <meta name="description" content="Homeshare brings together two people in a home for mutual benefit. In the majority of cases, it matches older people at their homes with youngsters, many times university students, for them to give each other company in an experience of mutual learning and of intergenerational solidarity.">
</head>
<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
</div>

<div class=" above-navbar-phone visible-md visible-sm visible-xs
text-center">
</div>


<div class="container-fluid hidden-xs about-img-fr padding-img text-center">
  <!-- <h3 class="welcome-title-police"> A propos du logemement intergénérationnel!</h3> -->
</div>
<!-- phone part -->
<div class="container-fluid visible-xs about-img-phone-fr padding-img-phone text-center">
  <!-- <h3 class="about-homeshare-text-fr-phone welcome-title-police-phone"> A propos du logemement intergénérationnel!</h3> -->
</div>

<div class="container-fluid bg-2 font-size-all">
  <div class="margin-text-about">
    <p>Le logement intergénérationnel r&eacute;unit sous un même toit des personnes désireuses d'échanges et d'entraide mutuelle. Le plus souvent, il s'agit d'accueillants âgés qui hébergent chez eux des jeunes, étudiants d'école supérieure. Cette cohabitation se déroule dans un esprit de solidarité intergénérationnelle.</p>
    <p>Cette formule fait ses preuves aux &Eacute;tats-Unis, au Canada, en France, en Espagne, en Allemagne, en Autriche, au Royaume-Uni, au Japon, en Cor&eacute;e du Sud et en Australie. Des initiatives aux ambitions similaires de solidarité intergénérationnelle au sein d'un même logement existent dans d'autres pays. En fonction de la région où elle est implantée, l'organisation fonctionne avec ses propres règles et références, établies selon les spécificités sociales, culturelles, et juridiques du lieu.</p>
  </div>
</div>
<div class="container-fluid bg-3 font-size-all">
  <div class="margin-text-about">
    <p class="font-size-welcome-intertitle">LES AVANTAGES DU LOGEMENT INTERGENERATIONNEL :</p>
    <p>&bull; Favorise une vie ind&eacute;pendante avec des liens sociaux forts entre les g&eacute;n&eacute;rations et les cultures.</p>
    <p>&bull; Permet une compagnie et assure une pr&eacute;sence et une s&eacute;curit&eacute; pour les personnes &acirc;g&eacute;es, en particulier la nuit</p>
    <p>&bull; Renforce les liens sociaux et familiaux des personnes &acirc;g&eacute;es</p>
    <p>&bull; Offre une solution de logement abordable</p>
    <p>&bull; Favorise le soutien mutuel et les valeurs de solidarit&eacute;</p>
    <p>&bull; Permet des &eacute;conomies sur les d&eacute;penses publiques et sur les services de sant&eacute; et de soins pour les personnes &acirc;g&eacute;es</p>
  </div>
</div>

<div class="container-fluid bg-2 font-size-all">
  <div class="margin-text-about">
    <p class="font-size-welcome-intertitle">LES AVANTAGES POUR LES SENIORS</p>
    <p>&middot; Vivre ensemble et rompre la solitude par une pr&eacute;sence rassurante.</p>
    <p>&middot; Partager du temps, échanger des conversations, des souvenirs et des projets.</p>
    <p>&middot; Se sentir en s&eacute;curit&eacute;.</p>
    <p>&middot; Rester chez soi sans &ecirc;tre seul.</p>
    <p>&middot; B&eacute;n&eacute;ficier d'un compl&eacute;ment de revenus.</p>
    <p>&nbsp;</p>
    <p class="font-size-welcome-intertitle"><u>Ce que l'accueillant apporte &agrave; l'&eacute;tudiant :</u></p>
    <p>&middot; Un logement accessible,</p>
    <p>&middot; Un environnement convivial,</p>
    <p>&middot; Une &eacute;coute et une disponibilit&eacute;,</p>
    <p>&middot; Un cadre calme et paisible &agrave; pour &eacute;tudier.</p>
    <p>&nbsp;</p>
    <p class="font-size-welcome-intertitle">LES AVANTAGES POUR LES  ETUDIANTS</p>
    <p>&middot; Un logement &eacute;conomique.</p>
    <p>&middot; Un environnement propice &agrave; la r&eacute;ussite des &eacute;tudes.</p>
    <p>&middot; L'expérience d'une rencontre enrichissante.</p>
    <p>&nbsp;</p>
    <p class="font-size-welcome-intertitle"><u>Ce que l'étudiant apporte au senior :</u></p>
    <p>&middot; Un soutien pour demeurer à domicile le plus longtemps possible.</p>
    <p>&middot; Un sentiment de s&eacute;curit&eacute;.</p>
    <p>&middot; De la compagnie, remède contre la solitude.</p>
    <p>&middot; De la joie !</p>
  </div>
</div>
