<head>
  <title>Homeshare International | Benefits of Homeshare</title>
  <meta name="description" content="Homeshare brings together two people in a home for mutual benefit. In the majority of cases, it matches older people at their homes with youngsters, many times university students, for them to give each other company in an experience of mutual learning and of intergenerational solidarity.">
</head>
<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
</div>

<div class=" above-navbar-phone visible-md visible-sm visible-xs
text-center">
</div>


<div class="container-fluid hidden-xs about-img-fr padding-img text-center">
  <!-- <h3 class="welcome-title-police"> A propos du logemement intergénérationnel!</h3> -->
</div>
<!-- phone part -->
<div class="container-fluid visible-xs about-img-phone-fr padding-img-phone text-center">
  <!-- <h3 class="about-homeshare-text-fr-phone welcome-title-police-phone"> A propos du logemement intergénérationnel!</h3> -->
</div>

<div class="container-fluid bg-2 font-size-all">
  <div class="margin-text-about">
    <p>Le logement intergenerationnel r&eacute;unit deux personnes dans une maison pour une entraide mutuelle. Dans la majorit&eacute; des cas, il associe des personnes &acirc;g&eacute;es &agrave; leur domicile avec des jeunes, souvent des &eacute;tudiants universitaires, pour qu'ils se tiennent mutuellement compagnie dans un esprit d&rsquo;entraide mutuelle et de solidarit&eacute; interg&eacute;n&eacute;rationnelle.</p>
    <p>Ce mouvement se d&eacute;veloppe aux &Eacute;tats-Unis, au Canada, en France, en Espagne, en Allemagne, en Autriche, au Royaume-Uni, au Japon, en Cor&eacute;e du Sud et en Australie, mais il existe des associations et des initiatives similaires dans d'autres pays. Les associations de chaque pays fonctionnent avec son propre mod&egrave;le et ses caract&eacute;ristiques sp&eacute;cifiques.</p>
  </div>
</div>
<div class="container-fluid bg-3 font-size-all">
  <div class="margin-text-about">
    <p class="font-size-welcome-intertitle">LES AVANTAGES DU LOGEMENT INTERGENERATIONNEL :</p>
    <p>&bull; Favorise une vie ind&eacute;pendante avec des liens sociaux forts entre les g&eacute;n&eacute;rations et les cultures.</p>
    <p>&bull; Permet une compagnie et assure une pr&eacute;sence et une s&eacute;curit&eacute; pour les personnes &acirc;g&eacute;es, en particulier la nuit</p>
    <p>&bull; Renforce les liens sociaux et familiaux des personnes &acirc;g&eacute;es</p>
    <p>&bull; Offre une solution de logement abordable</p>
    <p>&bull; Favorise le soutien mutuel et les valeurs de solidarit&eacute;</p>
    <p>&bull; Permet des &eacute;conomies sur les d&eacute;penses publiques et sur les services de sant&eacute; et de soins pour les personnes &acirc;g&eacute;es</p>
  </div>
</div>

<div class="container-fluid bg-2 font-size-all">
  <div class="margin-text-about">
    <p class="font-size-welcome-intertitle">LES AVANTAGES SENIORS</p>
    <p>&middot; Vivre ensemble et rompre la solitude par une pr&eacute;sence rassurante.</p>
    <p>&middot; Partager du temps, des conversations, des souvenirs et des projets.</p>
    <p>&middot; Vous sentir en s&eacute;curit&eacute;.</p>
    <p>&middot; Rester chez soi sans &ecirc;tre seul.</p>
    <p>&middot; B&eacute;n&eacute;ficier d'un compl&eacute;ment de revenu.</p>
    <p>&nbsp;</p>
    <p class="font-size-welcome-intertitle"><u>Vous apportez &agrave; un &eacute;tudiant :</u></p>
    <p>&middot; Un logement accessible,</p>
    <p>&middot; Un environnement convivial,</p>
    <p>&middot; Votre &eacute;coute et votre disponibilit&eacute;,</p>
    <p>&middot; Permettre &agrave; un jeune d&rsquo;&eacute;tudier en toute tranquillit&eacute;.</p>
    <p>&nbsp;</p>
    <p class="font-size-welcome-intertitle">LES AVANTAGES ETUDIANTS</p>
    <p>&middot; Un logement &eacute;conomique.</p>
    <p>&middot; Un environnement propice &agrave; la r&eacute;ussite de vos &eacute;tudes.</p>
    <p>&middot; Vivre une rencontre.</p>
    <p>&nbsp;</p>
    <p class="font-size-welcome-intertitle"><u>Vous apportez &agrave; un senior :</u></p>
    <p>&middot; Leur permettre de rester chez eux le plus longtemps possible.</p>
    <p>&middot; Augmenter leur s&eacute;curit&eacute;.</p>
    <p>&middot; Rompre leur solitude.</p>
    <p>&middot; Apporter de la joie !</p>
  </div>
</div>
