<div class=" above-navbar hidden-xs text-center">
  <span class="languages2"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>

<div class=" above-navbar-phone visible-xs text-center">
  <span class="languages2-phone"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>


<div class="container-fluid hidden-xs about-img text-center">
  <!-- <h3 class="welcome-title-police"> About homeshare!</h3> -->
</div>

<!-- phone part -->
<div class="container-fluid visible-xs about-img-phone text-center">
  <!-- <h3 class="welcome-title-police-phone"> About homeshare!</h3> -->
</div>

<div class="container-fluid bg-2 font-size-all">
  <div class="margin-text-about">
    <p>Homeshare brings together two people in a home for mutual benefit. In the majority of cases, it matches older people at their homes with youngsters, many times university students, for them to give each other company in an experience of mutual learning and of intergenerational solidarity. This movement works in the United States, France, Belgium, Germany and the United Kingdom, in Japan and in Australia, although there are programmes and similar iniciatives in other countries. Programmes from different countries have their own specific models and features.</p>
  </div>
</div>
<div class="container-fluid bg-3 font-size-all">
  <div class="margin-text-about">
    <p class="font-size-welcome-intertitle">BENEFITS OF HOMESHARE</p>
    <p>&bull; Promotes an independent life but, nonetheless, with strong social bonds between generations and cultures</p>
    <p>&bull; Gives company and provides safety to the elderly, especially diring the night</p>
    <p>&bull; Provides an affordable housing alternative</p>
    <p>&bull; Saves public spending on health and caregiving services for the elderly</p>
  </div>
</div>

<div class="container-fluid bg-2 font-size-all">
  <div class="margin-text-about">
    <p class="font-size-welcome-intertitle">THE ADVANTAGES FOR HOUSEHOLDERS</p>
    <p>&middot; A safeguard against loneliness through friendly co-habitation</p>
    <p>&middot; Stay at home without being alone</p>
    <p>&middot; The increased confidence of a reassuring presence at home</p>
    <p>&middot; Share time, conversations, memories and plans</p>
    <p>&middot; Benefit from some additional income</p>
    <!-- <p>&nbsp;</p> -->
    <p class="font-size-welcome-intertitle"><u>You will provide a student with :</u></p>
    <p>&middot; affordable accommodation</p>
    <p>&middot; a &lsquo;homely&rsquo; environment</p>
    <p>&middot; a listening &lsquo;ear&rsquo;</p>
    <p>&middot; an opportunity for peaceful study.</p>
    <p>&nbsp;</p>
    <p class="font-size-welcome-intertitle">THE ADVANTAGES FOR STUDENTS</p>
    <p>&middot; Cost-effective accommodation</p>
    <p>&middot; A favourable home environment to succeed in your studies</p>
    <p>&middot; A different approach to student living.</p>
    <!-- <p>&nbsp;</p> -->
    <p class="font-size-welcome-intertitle"><u>You will provide a householder with :</u></p>
    <p>&middot; Support in continuing to live at home</p>
    <p>&middot; The reassurance of not living alone</p>
    <p>&middot; A relief from loneliness</p>
    <p>&middot; Happiness !</p>
  </div>
</div>
