<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
</div>
<!-- phone part -->
<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
</div>

<div class="container-fluid hidden-xs padding-img text-center flag-img">
</div>
<!-- phone part -->
<div class="container-fluid visible-xs text-center padding-img-phone flag-img-phone ">
</div>

<div class="container-fluid bg-2 font-size-all">
  <div class="col-sm-12 col-xs-12  col-lg-6 col-lg-offset-3  col-md-8 col-md-offset-2 text-justify">
    <p>Homeshare International (HI) est un r&eacute;seau de professionnels et d'organisations du monde entier qui
      développent le logement interg&eacute;n&eacute;rationnel, soutiennent le mouvement ou contribuent &agrave;
      l'étendre dans toutes ses potentialités.</p>
    <p>Ce réseau fonctionne comme une communauté qui échange et fait circuler des informations, pratiques, ressources et
      outils relatifs au logement partagé.
    <p>
    <p>Les associations membres de Homeshare International s'adaptent chaque fois au pays dans lequel elles sont
      implantées, et développent un système de "logement partagé" qui tient compte du contexte culturel, social et
      économique du pays, et de son cadre juridico-légal.</p>
    <p>Toute organisation qui met en place des initiatives en matière de logement partagé ou qui les encourage peut peut
      devenir membre de Homeshare International.</p>
    <p class="text-center">Plus d'information ici :
      <b><a href="https://homeshare.org" target="_blank">https://homeshare.org</a><b></p>
  </div>
</div>
