<div class=" above-navbar hidden-xs text-center">
  <span class="languages2"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>

<div class=" above-navbar-phone visible-xs text-center">
  <span class="languages2-phone"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>

<div class="container-fluid hidden-xs padding-img text-center flag-img">
</div>
<!-- phone part -->
<div class="container-fluid visible-xs text-center flag-img-phone ">
</div>

<div class="container-fluid bg-2 text-center font-size-all">
<p>Homeshare International (HI) est un r&eacute;seau qui rassemble des professionnels et des organisations qui ont d&eacute;velopp&eacute; ou d&eacute;veloppent une association de logement interg&eacute;n&eacute;rationnel, qui soutiennent le mouvement ou qui contribuent &agrave; la sensibilisation sur son potentiel et ses possibilit&eacute;s.</p>
<p>Les associations Homeshare de diff&eacute;rents pays membres du r&eacute;seau s'adaptent aux caract&eacute;ristiques de chaque pays, &agrave; sa culture et &agrave; son cadre juridique.</p>
<p>Dans le monde entier, HI soutient de nouveaux programmes et ceux qui sont bien d&eacute;velopp&eacute;s. Cette communaut&eacute; d'apprentissage permet &agrave; ses membres de partager des informations, des nouvelles pratiques, des outils et des ressources.</p>
<p>Toute organisation qui soutient Homeshare ou qui d&eacute;veloppe un programme peut devenir membre de Homeshare International.</p>
<p>Plus d'information ici : <b><a href="https://homeshare.org">https://homeshare.org</a><b></p>
</div>
