<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
  <span class="languages2"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>
<!-- phone part -->
<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
  <span class="languages2-phone"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>

<div class="container-fluid hidden-xs padding-img text-center flag-img">
</div>
<!-- phone part -->
<div class="container-fluid visible-xs text-center flag-img-phone ">
</div>

<div class="container-fluid bg-2 text-center font-size-all">
  <p>Homeshare International (HI) is a network that brings together professionals and organizations that have developed or are developing a Homeshare Programme, who support the movement or that contribute to building awareness on its potential and possibilities. Homeshare Programmes from different countries that belong to the network adapt to the characteristics of each country, to its culture and its legal framework.</p>
  <p>Worldwide, HI supports new programmes and those that are well developed. This learning community allows its members to share information, relevant news, tools and resources.</p>
  <p>Any organisation that supports Homeshare or that develops a programme can become member of Homeshare International. More information here : <b><a href="https://homeshare.org">https://homeshare.org</a><b></p>
</div>
