<footer class="container-fluid bg-4 text-center col-lg-12 col-md-12 col-sm-12 col-xs-12">
  <p><%= t :Generic_FindUS %> <strong><a href="http://www.1toit2ages.be" target="_blank"> 1Toit2Ages !</a></strong></p>
</footer>

