<footer class="container-fluid bg-4 text-center ">
  <p><%= t :Generic_FindUS %> <strong><a href="http://www.1toit2ages.be/<%= I18n.locale.to_s %>" target="_blank"> 1Toit 2Ages !</a></strong></p>
</footer>

