<!--adding litle container for languages-->
<div class=" welcome-above-navbar hidden-md hidden-sm hidden-xs text-center">
  <span class="languages2"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>
<!-- phonepart -->
<div class=" welcome-above-navbar-phone visible-md visible-sm visible-xs text-center">
  <span class="languages2-phone"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>

<div class="container-fluid hidden-xs text-center welcome-bxl-img">

</div>
<!-- phone part -->
<div class="container-fluid visible-xs text-center welcome-bxl-img-phone">
  <!-- <p class="welcome-title-phone">Welcome to Brussels</p> -->
</div>

<div class="container-fluid bg-2 text-center font-size-all">
  <!-- <b><h3>Discover Belgium in video !</b></h3>
  <p><u><span lang="FR-BE"><a href="https://m.facebook.com/story.php?story_fbid=1335205729834742&amp;id=908357695852883" target="_blank" rel="noopener noreferrer">https://m.facebook.com/story</a>&nbsp;</span></u></p>
  <p>&nbsp;</p> -->
  <b class="font-size-welcome-title"><u><p >To see : </p></u></b>
  <p><a href="https://visit.brussels/fr">Visit Brussels</a></p>
  <p><a href="https://www.ceetiz.fr/bruxelles?gclid=CjwKCAiAlL_UBRBoEiwAXKgW52BevZFO-K66WCYJgkdcFPYt0PT-Bo_qXrXK5slO-EDEZUXxL7vH4hoCG34QAvD_BwE">Brussels Touristic information</a></p>
  <p><a href="https://www.viree-malin.fr/visiter-bruxelles-2-jours/">guide-things to do</a></p>
  <p>&nbsp;</p>
  <b class="font-size-welcome-title"><u><p>To move in Brussels :</p></u></b>
  <p><a href="http://www.stib-mivb.be/index.htm?l=fr">Metro/Bus STIB</a></p>
  <p><a href="https://www.google.be/maps/place/Grand+Place/@50.8455218,4.3497041,16z/data=!4m5!3m4!1s0x47c3c47f4614f1f1:0xb03c355d8fe2cfb6!8m2!3d50.8467316!4d4.3524138?hl=en&quot;">Congress Map</a></p>
  <p><a href="https://www.google.be/maps/place/Grand+Place/@50.8455218,4.3497041,16z/data=!4m5!3m4!1s0x47c3c47f4614f1f1:0xb03c355d8fe2cfb6!8m2!3d50.8467316!4d4.3524138?hl=en">Brussels Map</a></p>
  <p><a href="http://www.meteo-bruxelles.be/previsions.php">Meteo brussels</a></p>
  <p>&nbsp;</p>
  <b class="font-size-welcome-title"><u><p>Accomodation around “The Grand Place” :</p></u></b>
  <p>To book an hotel, please email directly or book online from August 2018.</p>
  <p>Especially for the economic ones, we advice you to book asap.</p>
  <p>&nbsp;</p>
  <b class="font-size-welcome-intertitle"><p>50-100€/night :</p></b>
  <p><a href="http://www.maxhotel.be/#2">Max Hotel</a></p>
  <p><a href="http://www.lavieillelanterne.be/hotel/home.html">La Vieille Lanterne</a></p>
  <p><a href="http://hotel-stalingrad.brussels-hotels.net/fr/">Hotel Stalingrad</a></p>
  <p><a href="http://www.hotelmanhattan.be/fr/">Hotel Manhattan</a></p>
  <p><a href="http://la-madeleine-brussels.brussels-hotels.net/fr/?from=2018-05-16&amp;to=2018-05-17&amp;adults=2&amp;currency=3&amp;children=0&amp;subacc=althotel613935-s116399&amp;page=main">La Madeleine</a></p>
  <p>&nbsp;</p>
  <b class="font-size-welcome-intertitle"><p>100-150€ :</p></b>
  <p><a href="https://secure.accorhotels.com/store/index.html#/en/hotels?dateIn=2018-04-27&amp;brands=ALL&amp;adults=1&amp;origin=accorhotels&amp;geoCode=V0627&amp;comfort_level=ALL&amp;services=&amp;domainId=https:%2F%2Fwww.accorhotels.com&amp;geoType=VI&amp;children=&amp;nights=1">Ibis and Novotel Hotels</a></p>
  <p><a href="blocked::%20http:/www.hotelmarivaux.be/en">Marivaux Hotel</a></p>
  <p>&nbsp;</p>
  <b class="font-size-welcome-intertitle"><p> <150€:</p></b>
  <p><a href="http://www.hotellalegende.com/en">La Legende Hotel</a></p>
  <p><a href="http://www.hotel-opera.be/fr/">Hotel Opera</a></p>
  <p><a href="https://www.french.hostelworld.com/search?dia=500&amp;number_of_guests=2&amp;date_to=2018-03-10&amp;date_from=2018-03-07&amp;city=Bruxelles&amp;country=Belgique&amp;search_keywords=Bruxelles%2C+Belgique">Youth Hostel : Hostelworld</a></p>
  <p>&nbsp;</p>
  <b><p><a href="http://bb-vaudeville.brussels-hotels.net/fr/?from=2018-05-16&amp;to=2018-05-17&amp;adults=2&amp;children=0#rooms"><span style="font-size: 16pt;">Our best advice : &raquo; B&amp;B Vaudeville</span></a></p></b>
</div>

<div class="container-fluid hidden-xs text-center welcome-map-img margin-top">
</div>
<!-- phone part -->
<div class="container-fluid visible-xs text-center welcome-map-img-phone margin-top">
</div>


