<!--adding litle container for languages-->
<div class=" welcome-above-navbar hidden-md hidden-sm hidden-xs text-center">
  <span class="languages2"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>
<!-- phonepart -->
<div class=" welcome-above-navbar-phone visible-md visible-sm visible-xs text-center">
  <span class="languages2-phone"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>

<div class="container-fluid hidden-xs text-center welcome-bxl-img">
</div>
<!-- phone part -->
<div class="container-fluid visible-xs text-center welcome-bxl-img-phone">
  <p class="welcome-title-phone">Bienvenue à Bruxelles</p>
</div>


<div class="container-fluid bg-2 text-center">
  <h3 class="margin">Où nous trouver?</h3>
  <u><p class="x_MsoNormal">-&nbsp;&nbsp;<a href="https://www.visitonsbruxelles.com/bruxelles-en-48-heures" target="_blank" rel="noopener noreferrer">Visitons Bruxelles</a></p></u>
  <u><p class="x_MsoNormal">&nbsp;<span lang="FR-BE">-&nbsp;&nbsp;</span><a href="https://www.ceetiz.fr/bruxelles?gclid=CjwKCAiAlL_UBRBoEiwAXKgW52BevZFO-K66WCYJgkdcFPYt0PT-Bo_qXrXK5slO-EDEZUXxL7vH4hoCG34QAvD_BwE" target="_blank" rel="noopener noreferrer"><span lang="FR-BE">Ceetiz: trouvez les meilleurs activités</span></a></p></u>
  <u><p class="x_MsoListParagraph"><span lang="FR-BE">-&nbsp; </span><span lang="FR-BE"><a href="https://www.viree-malin.fr/visiter-bruxelles-2-jours/">Virée Malin</a></span></p></u>
  <p class="x_MsoListParagraph"><span lang="FR-BE">Se d&eacute;placer &agrave;  Bruxelles&nbsp;:&nbsp;</span><u><a href="http://www.stib.be/index.htm?l=fr" target=" _blank" rel="noopener noreferrer">stib.be</a></u></p>
  <u><a href="https://www.google.be/maps/search/grand+place+/@50.8455218,4.3497041,16z" target="_blank" rel="noopener noreferrer"><span lang="FR-BE">- Plan de Bruxelles centre</span></a></p></u>
</div>

<div class="container-fluid hidden-xs text-center welcome-map-img margin-top">
</div>
<!-- phone part -->
<div class="container-fluid visible-xs text-center welcome-map-img-phone margin-top">
</div>
