<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
  body {
      font: 16px 'Roboto', sans-serif;
      line-height: 1.4;
      color: #f5f6f7;
  }
  p {font-size: 16px;}

  </style>
</head>
<body>

<!--adding litle container for languages-->
<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
  <span class="languages2"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>

<!-- phone part -->
<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
  <span class="languages2-phone"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>

<!-- First Container -->
<div class="container-fluid hidden-xs padding-img welcome-img text-center">
  <!-- <h3 class="welcome-title-police"> 6TH WORLD HOMESHARE CONGRESS!</h3> -->
</div>

<!-- phone part -->
<div class="container-fluid visible-xs welcome-img-phone text-center">
<!--   <h3 class="welcome-title-police-phone"> 6TH WORLD HOMESHARE CONGRESS!</h3>
 --></div>


<!-- Second Container -->
<div class="container-fluid bg-2 text-center font-size-all">
  <p class="x_MsoNormal date-size">MARCH 21 AND 22 OF 2019</p>
  <p class="x_MsoNormal"><a class= "pink" href=" https://youtu.be/4oB4ssidT5s" target="_blank" rel="noopener noreferrer"><strong>Teaser of the team, click here !</strong></a></p>
  <p class="x_MsoNormal">Whether you are an academic or a journalist, coming from the political, social or non profit world, Come Share and Develop your network&nbsp;!</p>
<p class="x_MsoNormal">Discover other international organizations coming from all over the world, and listen to qualified experts&nbsp;!</p>
<p class="x_MsoNormal">&nbsp;</p>
<p class="x_MsoNormal button"><a class= "white" href="https://homesharetest2019.herokuapp.com/users/sign_up?locale=en" target="_blank" rel="noopener noreferrer"><strong>REGISTER FOR THE 6TH WORLD HOMESHARE CONGRESS!</strong></a></p>

</div>

<div class="container-sponsors">
  <a class="navbar-brand sponsor1-height sponsor1-img" href="#"></a>
  <a class="navbar-brand sponsor2-height sponsor2-img" href="#"></a>
  <a class="navbar-brand sponsor3-height sponsor3-img" href="#"></a>
  <a class="navbar-brand sponsor4-height sponsor4-img" href="#"></a>
</div>

<!-- Third Container (Grid) sponsors -->



