
<!--adding litle container for languages-->
<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
  <span class="languages2"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>

<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
  <span class="languages2-phone"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>

<!-- First Container -->
<div class="container-fluid hidden-xs welcome-img-fr text-center">
  <!-- <h3 class="welcome-title-police-fr">  6 eme Congrès International du Logement Intergenerationnel !</h3> -->
</div>
<!-- phone part -->
<div class="container-fluid visible-xs welcome-img-phone-fr text-center">
  <h1>
  <!-- <h3 class="welcome-title-police-fr-phone"> 6 eme Congrès International du Logement Intergenerationnel !</h3> -->
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center font-size-all">
  <p class="x_MsoNormal date-size"> LES 21 ET 22 MARS 2019</p>
  <p class="x_MsoNormal"><a class= "pink" href=" https://youtu.be/4oB4ssidT5s" target="_blank" rel="noopener noreferrer"><strong>Teaser de l'équipe cliquez ici !</strong></a></p>
  <p class="x_MsoNormal">Que vous soyez universitaires ou journalistes, que vous veniez du monde politique, social ou associatif, venez &eacute;changer et partager votre r&eacute;seau&nbsp;!</p>
  <p class="x_MsoNormal">Venez d&eacute;couvrir des projets interg&eacute;n&eacute;rationnels du monde entier et &eacute;couter des conf&eacute;renciers de qualit&eacute;&nbsp;!</p>
  <p class="x_MsoNormal">&nbsp;</p>
  <p class="x_MsoNormal button"><a class="white" href="https://homesharetest2019.herokuapp.com/users/sign_up?locale=fr" target="_blank" rel="noopener noreferrer"><strong>REGISTER FOR THE 6TH WORLD HOMESHARE CONGRESS!</strong></a></p>

</div>

<div class="container-sponsors hidden-xs">
  <a class="navbar-brand sponsor1-height sponsor1-img" href="#"></a>
  <a class="navbar-brand sponsor2-height sponsor2-img" href="#"></a>
  <a class="navbar-brand sponsor3-height sponsor3-img" href="#"></a>
  <a class="navbar-brand sponsor4-height sponsor4-img" href="#"></a>
  <a class="navbar-brand sponsor5-height sponsor5-img" href="#"></a>
</div>

<div class="container-sponsors-phone visible-xs">
  <a class="navbar-brand sponsor1-height-phone sponsor1-img-phone" href="#"></a>
  <a class="navbar-brand sponsor2-height-phone sponsor2-img-phone" href="#"></a>
  <a class="navbar-brand sponsor3-height-phone sponsor3-img-phone" href="#"></a>
  <a class="navbar-brand sponsor4-height-phone sponsor4-img-phone" href="#"></a>
  <a class="navbar-brand sponsor5-height-phone sponsor5-img-phone" href="#"></a>
</div>

<!-- Third Container (Grid) sponsors -->

