<!DOCTYPE html>
<html lang="en">
<head>
  <title>Homeshare International | 6th World Homeshare Congress, Brussels 2019</title>
  <meta name="description" content="Register now for the 6th World Homeshare Congress that will take place on 21-22 MARCH 2019 in Brussels ! Whether you are an academic or a journalist, coming from the political, social or non profit world, Come Share and Develop your network ! Discover other international organizations coming from all over the world, and listen to qualified experts !">
  <style>
  body {
      font: 16px 'Roboto', sans-serif;
      line-height: 1.4;
      color: #ffffff;
  }
  p {font-size: 16px;}

  </style>
</head>
<body>
<%= provide(:keywords, 'Homeshare, Congress, World, March, 2019') %>

<!--adding litle container for languages-->
<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
</div>

<!-- phone part -->
<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
</div>

<!-- First Container -->
<div class="container-fluid hidden-xs padding-img welcome-img text-center">
  <!-- <h3 class="welcome-title-police"> 6TH WORLD HOMESHARE CONGRESS!</h3> -->
</div>

<!-- phone part -->
<div class="container-fluid visible-xs padding-img-phone welcome-img-phone text-center">
<!--   <h3 class="welcome-title-police-phone"> 6TH WORLD HOMESHARE CONGRESS!</h3>
 --></div>


<!-- Second Container -->
<div class="container-fluid bg-2 text-center font-size-all">
  <p class="x_MsoNormal date-size">21st - 22nd MARCH 2019</p>
  <p class="x_MsoNormal"><a class= "pink" href=" https://youtu.be/4oB4ssidT5s" target="_blank" rel="noopener noreferrer"><strong>Teaser of the team, click here !</strong></a></p>
  <p class="x_MsoNormal">Whether you are an academic or a journalist, coming from the political, social or non profit world, Come Share and Develop your network&nbsp;!</p>
<p class="x_MsoNormal">Discover other international organizations coming from all over the world, and listen to qualified experts&nbsp;!</p>
<p class="x_MsoNormal">&nbsp;</p>
<p class="x_MsoNormal button"><a class= "white" href="http://www.hiworldcongressbrussels2019.com/users/sign_up?locale=en" rel="noopener noreferrer"><strong>REGISTER FOR THE 6TH WORLD HOMESHARE CONGRESS !</strong></a></p>

</div>

<div class="container-sponsors hidden-xs">
  <a class="navbar-brand sponsor1-height sponsor1-img" href="#"></a>
  <a class="navbar-brand sponsor2-height sponsor2-img" href="#"></a>
  <a class="navbar-brand sponsor3-height sponsor3-img" href="#"></a>
  <a class="navbar-brand sponsor4-height sponsor4-img" href="#"></a>
  <a class="navbar-brand sponsor5-height sponsor5-img" href="#"></a>
</div>

<div class="container-sponsors-phone visible-xs">
  <a class="navbar-brand sponsor1-height-phone sponsor1-img-phone" href="#"></a>
  <a class="navbar-brand sponsor2-height-phone sponsor2-img-phone" href="#"></a>
  <a class="navbar-brand sponsor3-height-phone sponsor3-img-phone" href="#"></a>
  <a class="navbar-brand sponsor4-height-phone sponsor4-img-phone" href="#"></a>
  <a class="navbar-brand sponsor5-height-phone sponsor5-img-phone" href="#"></a>
</div>

<!-- Third Container (Grid) sponsors -->



