.about-above-navbar {
  height: 126px;
  background-color: #479d55;
}
.about-img {
  margin-top:0px;
  // background-image: image-url('homeshare1.JPG');
  background-image: image-url('Testtaille.jpg');
  background-size: cover;
  min-height: 575px;
  max-height: 789px;
}

.about-img-phone {
  margin-top:0px;
  background-image: image-url('homeshare1.JPG');
  background-size: cover;
  // min-height: 580px;
  max-height: 789px;
}

.about-homeshare-text-fr-phone {
  font-size: 40px !important;
}
