.about-above-navbar {
  height: 126px;
  background-color: #479d55;
}
.about-img {
  margin-top:0px;
  // background-image: image-url('homeshare1.JPG');
  background-image: image-url('about-lg.png');
  background-size: cover;
  padding-top: 50% !important;
  // min-height: 575px;
  // max-height: 789px;
}

@media (max-width: 767px) {
  .about-img {
    background-image: image-url('about-sm.png');
    padding-bottom: 0px !important;
  }
}

.about-homeshare-text-fr-phone {
  font-size: 40px !important;
}

.margin-text-about {
  margin-left: 20%;
  margin-right: 13%;
}
