.pink {
  color: #d04a8d !important;
  font-size: 24px;
}

.button-nav {
    background-color: #409246;
    border: none;
    color: white !important;
    padding: 15px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px !important;
}

.button-register {
    background-color: #409246;
    border: none;
    color: white !important;
    padding: 13px 100px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px !important;
}

.maile-color {
  color: #519549 !important;
}

.white {
  color: #ffffff !important;
  font-size: 24px;
}

.green {
  color: #409246;
}

.date-size {
  font-size: 32px;
  margin-top: -2%;
}

.button {
    background-color: #d04a8d; /* blue */
    border: none;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

li {
    float: right !important;
}

a {
  color: #ffffff !important;
}

.languages {
  float: right !important;
  margin-top: 1px;
  margin-right: 13px;
  color: #ffffff !important;
  font-size: 14px;
  font-weight: bold;
}

.languages2 {
  float: right !important;
  margin-top: 1px;
  margin-right: 50px;
  color: #ffffff !important;
  font-size: 14px;
  font-weight: bold;
}

.languages2-phone {
  float: right !important;
  margin-top: 1px;
  margin-right: 20px;
  color: #ffffff !important;
  font-size: 14px;
  font-weight: bold;
}

.dropdown {
  float: right !important;
}

.font-size-title {
  font-size: 22px;
}

.form-input {
  width: 30%;
}
