.pink {
  color: #d04a8d !important;
  font-size: 24px;
}


.white {
  color: #ffffff !important;
  font-size: 24px;
}

.date-size {
  font-size: 24px;
}

.button {
    background-color: #d04a8d; /* blue */
    border: none;
    color: white;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

li {
    float: right !important;
}

a {
  color: #ffffff !important;
}

.languages {
  float: right !important;
  margin-top: 1px;
  margin-right: 13px;
  color: #ffffff !important;
  font-size: 14px;
  font-weight: bold;
}

.languages2 {
  float: right !important;
  margin-top: 1px;
  margin-right: 50px;
  color: #ffffff !important;
  font-size: 14px;
  font-weight: bold;
}

.languages2-phone {
  float: right !important;
  margin-top: 1px;
  margin-right: 20px;
  color: #ffffff !important;
  font-size: 14px;
  font-weight: bold;
}

.dropdown {
  float: right !important;
}
