.flag-img {
  // margin-top:135px;
  // background-image: image-url('cartesTEST.jpg');
  background-image: image-url('final_map_inter_en.jpg');
  background-size: cover;
  min-height: 575px;
  max-height: 789px;
}

.flag-img-phone {
  // margin-top:135px;
  background-image: image-url('final_map_inter_en.jpg');
  background-size: cover;
  min-height: 155px;
  max-height: 789px;
}
