.flag-img {
  // margin-top:135px;
  // background-image: image-url('cartesTEST.jpg');
  background-image: image-url('Testtaille4.jpg');
  background-size: cover;
  min-height: 570px;
  max-height: 789px;
}

.flag-img-phone {
  // margin-top:135px;
  background-image: image-url('homeshareinter.png');
  background-size: cover;
  min-height: 300px;
  max-height: 789px;
}
