.flag-img {
  // margin-top:135px;
  // background-image: image-url('cartesTEST.jpg');
  background-image: image-url('mapinternational.jpg');
  background-size: cover;
  min-height: 566px;
  max-height: 789px;
}

.flag-img-phone {
  // margin-top:135px;
  background-image: image-url('mapinternational.jpg');
  background-size: cover;
  min-height: 160px;
  max-height: 789px;
}
