// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.above-navbar {
  // position: fixed;
  height: 126px;
  width: 100%;
  background-color: #599d4f;
}

.above-navbar-phone {
  height: 80px;
  background-color: #599d4f;
}

.welcome-img {
  margin-top:0px;
  background-image: image-url('Home1.jpg');
  background-size: cover;
  min-height: 565px;
  max-height: 789px;
}

.welcome-img-fr {
  margin-top:0px;
  background-image: image-url('accueil.jpg');
  background-size: cover;
  min-height: 568px;
  max-height: 789px;
}

.welcome-img-phone {
  margin-top:0px;
  background-image: image-url('Home1.jpg');
  background-size: cover;
  min-height: 155px;
  max-height: 789px;
}

.welcome-img-phone-fr {
  margin-top:0px;
  background-image: image-url('accueil.jpg');
  background-size: cover;
  min-height: 155px;
  max-height: 789px;
}

.welcome-title-police {
  margin-top: -3%;
  margin-left: 43%;
  font-size: 55px;
  font-weight: bold;
  color: #ffffff;
  // color: #1177ab;
  text-shadow: 4px 4px #1356bb;
}

.welcome-title-police-fr {
  margin-top: -4%;
  margin-left: 43%;
  font-size: 55px;
  font-weight: bold;
  color: #ffffff;
  // color: #1177ab;
  text-shadow: 4px 4px #1356bb;
}

.welcome-title-police-phone {
  margin-top: -4%;
  // margin-left: 43%;
  font-size: 45px;
  font-weight: bold;
  color: #ffffff;
  // color: #1177ab;
  text-shadow: 4px 4px #1356bb;
}

.welcome-title-police-fr-phone {
  margin-top: -8%;
  // margin-left: 43%;
  font-size: 29px;
  font-weight: bold;
  color: #ffffff;
  // color: #1177ab;
  text-shadow: 4px 4px #1356bb;
}

.margin-text {
  margin-top: 500px;
}

.margin {margin-bottom: 45px;}
  .bg-2 {
      background-color: #53b7b7; /* Dark Blue */
      color: #ffffff;
  }
  .bg-3 {
      background-color: #ffffff; /* White */
      color: #47a0a0;
  }
  .bg-4 {
    background-color: #2f2f2f;
    color: #ffffff;
    padding-top: 40px !important;
    padding-bottom: 40px !important;
}
  .container-fluid {
      padding-top: 20px;
      padding-bottom: 12px;
  }

  .font-size-all {
    font-size: 16px;
  }


.container-sponsors {
      padding-top: 10px;
      padding-bottom: 110px;
  }

  .container-sponsors-phone {
      padding-top: 10px;
      padding-bottom: 38px;
  }

.sponsor1-img {
  background-image: image-url('Sponsor5.png');
  background-size: cover;
  height: 10%;
  width: 5%;
  margin-left: 20px !important;
  -webkit-transform: scale(0.65, 0.65);
}

.sponsor2-img {
  background-image: image-url('Sponsor2.png');
  background-size: cover;
  height: 10%;
  width: 5%;
  margin-left: 20px !important;
  -webkit-transform: scale(0.65, 0.65);
}

.sponsor3-img {
  background-image: image-url('Sponsor3.png');
  background-size: cover;
  height: 10%;
  width: 5%;
  margin-left: 20px !important;
  -webkit-transform: scale(0.65, 0.65);
}

.sponsor4-img {
  background-image: image-url('Sponsor4.png');
  background-size: cover;
  height: 10%;
  width: 5%;
  margin-left: 20px !important;
  -webkit-transform: scale(0.65, 0.65);
}

.sponsor5-img {
  background-image: image-url('Sponsor6.jpg');
  background-size: cover;
  height: 10%;
  width: 5%;
  margin-left: 20px !important;
  -webkit-transform: scale(0.65, 0.65);
}

.sponsor1-height {
  margin-left: -2% !important;
  height: 100px !important;
  width: 33% !important;
}

.sponsor2-height {
  margin-left: -3% !important;
  height: 100px !important;
  width: 15% !important;
}

.sponsor3-height {
  margin-left: -3% !important;
  height: 105px !important;
  width: 29% !important;
}

.sponsor4-height {
  margin-left: -3% !important;
  height: 100px !important;
  width: 15.7% !important;
}

.sponsor5-height {
  margin-left: 1% !important;
  height: 100px !important;
  width: 15.7% !important;
}

.sponsor1-img-phone {
  background-image: image-url('Sponsor5.png');
  background-size: cover;
  height: 10%;
  width: 5%;
  margin-left: 20px !important;
  -webkit-transform: scale(0.5, 0.5);
}

.sponsor2-img-phone {
  background-image: image-url('Sponsor2.png');
  background-size: cover;
  height: 10%;
  width: 5%;
  margin-left: 20px !important;
  -webkit-transform: scale(0.6, 0.6);
}

.sponsor3-img-phone {
  background-image: image-url('Sponsor3.png');
  background-size: cover;
  height: 10%;
  width: 5%;
  margin-left: 20px !important;
  -webkit-transform: scale(0.6, 0.6);
}

.sponsor4-img-phone {
  background-image: image-url('Sponsor4.png');
  background-size: cover;
  height: 10%;
  width: 5%;
  margin-left: 20px !important;
  -webkit-transform: scale(0.7, 0.7);
}

.sponsor5-img-phone {
  background-image: image-url('Sponsor6.jpg');
  background-size: cover;
  height: 10%;
  width: 5%;
  margin-left: 20px !important;
  -webkit-transform: scale(0.7, 0.7);
}

.sponsor1-height-phone {
  margin-left: -3% !important;
  height: 30px !important;
  width: 31% !important;
}

.sponsor2-height-phone {
  margin-left: -3% !important;
  height: 30px !important;
  width: 15% !important;
}

.sponsor3-height-phone {
  margin-left: -3% !important;
  height: 30px !important;
  width: 28% !important;
}

.sponsor4-height-phone {
  margin-left: -2% !important;
  height: 30px !important;
  width: 15.7% !important;
}

.sponsor5-height-phone {
  margin-left: 0% !important;
  height: 30px !important;
  width: 15.7% !important;
}

