// Place all the styles related to the programme controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.margin-top {
  margin-top: 77px;
}


.hands-img {
  margin-top:0px;
  background-image: image-url('programme-lg.png');
  background-size: cover;
  padding-top: 35% !important;
}


@media (min-width: 768px) and (max-width: 991px) {
  .hands-img {
    background-image: image-url('programme-sm.png');
    padding-bottom: 0px !important;
  }
}

@media (max-width: 767px) {
  .hands-img {
    background-image: image-url('programme-sm.png');
    padding-bottom: 0px !important;
  }
}

//
//.hands-img {
//  margin-top: -6%;
//  // background-image: image-url('TEST.jpg');
//  background-image: image-url('final_prog_en.jpg');
//  background-size: cover;
//  // min-height: 575px;
//  // max-height: 1000px;
//}

.hands-img-fr {
  margin-top: -6%;
  // background-image: image-url('TEST.jpg');
  background-image: image-url('final_prog_fr.jpg');
  background-size: cover;
  // min-height: 575px;
  // max-height: 1000px;
}


.hands-img-phone {
  margin-top:0px;
  background-image: image-url('final_prog_en.jpg');
  background-size: cover;
  // min-height: 170px;
  // max-height: 789px;
}

.hands-img-phone-fr {
  margin-top:0px;
  background-image: image-url('final_prog_fr.jpg');
  background-size: cover;
  // min-height: 170px;
  // max-height: 789px;
}

.margin-progr {
  margin-top: -2%;
}

.margin-text-prog1 {
  margin-left: 3% !important;
}

.margin-text-prog2 {
  margin-right: 3% !important;
}
.margin-text-prog-phone {
  margin-left: 1% !important;
  margin-right: 1% !important;
}

.prog-marg-top {
  margin-top: 1%;
}

.prog-right {
  text-align: right;
}

.prog-bandeau {
  margin-top: 5px;
}

.day1-font-size {
  font-size: 23px;
}

.prog-space {
  margin-bottom: 20px;
}

.prog-space1 {
  margin-bottom: 30px;
}

.prog-space2 {
  margin-bottom: 25px;
}

.prog-spaceday {
  margin-bottom: 39px;
}

.col-md-4 {
  width: 430.6px !important;
}

.col-md-4-phone {
  width: 350px !important;
}

.prog-margin {
  margin-left: 1%;
}

.prog-margin-phone {
  margin-right: 30px !important;
  margin-left: 30px !important;
}

.underline {
  text-decoration: underline;
}
