.map-img {
  margin-top: -24%;
  margin-bottom: -23%;
  background-image: image-url('map1toit2age.jpg') ;
  min-height: 1280px;
  background-size: cover;
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
}

.padding-img {
  padding-top: 36% !important;
  padding-bottom: 0px !important;
}

.binome_img {
  margin-top:0px;
  background-image: image-url('binome1.png');
  background-size: cover;
  // min-height: 462px;
  // max-height: 789px;
}
.binome_img-fr {
  margin-top:0px;
  background-image: image-url('binome1fr.png');
  background-size: cover;
  // min-height: 462px;
  // max-height: 789px;
}

.binome_img-phone {
  margin-top:0px;
  background-image: image-url('binome1.png');
  background-size: cover;
  min-height: 130px;
  max-height: 789px;
}

.binome_img-phone-fr {
  margin-top:0px;
  background-image: image-url('binome1fr.png');
  background-size: cover;
  min-height: 130px;
  max-height: 789px;
}

.map-img-phone {
  margin-top: -27%;
  margin-bottom: -7%;
  // margin-right: 500px !important;
  background-image: image-url('map1toit2age.jpg');
  background-size: cover;
  min-height: 560px;
  // width: 1010px;

}

.map-title {
  margin-top: -22%;
  font-size: 55px;
  color: #16843a;
}

.map-title-phone {
  margin-top: -8%;
  margin-bottom: -18%;
  font-size: 34px;
  color: #16843a;
}
