.map-img {
  margin-top: -14%;
  margin-bottom: -13%;
  background-image: image-url('carte1toit2age.png') ;
  background-size: cover;
  transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5);
}

.binome_img {
  margin-top:0px;
  background-image: image-url('binome1.png');
  background-size: cover;
  // min-height: 462px;
  // max-height: 789px;
}
.binome_img-fr {
  margin-top:0px;
  background-image: image-url('binome1fr.png');
  background-size: cover;
  // min-height: 462px;
  // max-height: 789px;
}

.binome_img-phone {
  margin-top:0px;
  background-image: image-url('binome1.png');
  background-size: cover;
  // min-height: 130px;
  // max-height: 789px;
}

.binome_img-phone-fr {
  margin-top:0px;
  background-image: image-url('binome1fr.png');
  background-size: cover;
  // min-height: 130px;
  // max-height: 789px;
}

.map-img-phone {
  margin-top: 0%;
  margin-bottom: 0%;
  // margin-right: 500px !important;
  background-image: image-url('carte1toit2age.png');
  background-size: cover;
  // min-height: 263px;
  // width: 1010px;

}

.map-title {
  margin-top: -22%;
  font-size: 55px;
  color: #16843a;
}

.map-title-phone {
  margin-top: -8%;
  margin-bottom: -18%;
  font-size: 34px;
  color: #16843a;
}
