
.navbar-position {
  margin-top: 25px;
}

.navbar-margin-right {
  margin-right: 7px;
}

.navbar-height {
  height: 100px !important;
  width: 85px !important;
}

.navbar-height2 {
  height: 100px !important;
  width: 162px !important;
}

.navbar-height-phone {
  height: 50px !important;
  width: 46px !important;
}

.navbar-height2-phone {
  height: 50px !important;
  width: 84px !important;
}

.navbar-color {
  background-color: #ffffff;
  border-color: #090909 !important;
  display: block;
  margin-bottom: 0px !important;
  border-radius: 5px 5px 5px 5px !important;
  }

.logo-img {
  background-image: image-url('1toit2ages_logo.jpg');
  background-size: cover;
  height: 10%;
  width: 5%;
  margin-left: 20px !important;
}

.logo2-img {
  background-image: image-url('logo2.jpg');
  background-size: cover;
  height: 10%;
  width: 5%;
  margin-left: 2.1% !important;
  margin-bottom: 2px;
  margin-top: 2px;
}

.logo-img-phone {
  background-image: image-url('1toit2ages_logo.jpg');
  background-size: cover;
  height: 10%;
  width: 5%;
  margin-left: 5px !important;
}

.logo2-img-phone {
  background-image: image-url('logo2.jpg');
  background-size: cover;
  height: 10%;
  width: 5%;
  margin-left: 2.1% !important;
  // margin-right: 2.1%;
  margin-bottom: 0px;
  margin-top: 3px;
}

.logo2-img-phone2 {
  background-image: image-url('logo2.jpg');
  background-size: cover;
  height: 10%;
  width: 5%;
  margin-left: 2.1% !important;
  // margin-right: 2.1%;
  margin-bottom: 0px;
  margin-top: 3px;
}
.navbar-brand {
  // color: #6f7d37;
  // #409246
  color: #599d4f !important;
  padding: 20px 23px;
  font-size: 15px !important;
}

.navbar-brand-phone {
  padding: 4px 13px !important;
  font-size: 10px !important;
}

.dropbtn {
    background-color: #ffffff;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 10px 2px 2px 10px;
}

.glyphicon {
  color: #589d4e;
  font-size: 35px;
  line-height: 0 !important;
  top: 0px !important;
  padding: 28px;
}

.dropbtn:hover, .dropbtn:focus {
    // background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #d04a8d;
    // min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {background-color: #ddd}

.show {display:block;}
// .footer {
//  position:fixed;
//     bottom:0;
//   }


// .navbar-brand:active {
//   background-color: #c72fc0 !important;
// }

// // li a:focus {
// //   background-color: #c72fc0 !important;
// // }

li a.current{
   background-color: #e6e6e5b3;
}


