// Place all the styles related to the speakers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.speakers-img {
  margin-top:0px;
  background-image: image-url('coming_soon.jpg');
  background-size: cover;
  // min-height: 429px;
}

.speakers-img-phone {
  margin-top:0px;
  background-image: image-url('coming_soon.jpg');
  background-size: cover;
  min-height: 133px;

  // min-height: 1000px;
}
