// Place all the styles related to the speakers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.speakers-img {
  margin-top:0px;
  background-image: image-url('coming_soon.jpg');
  background-size: cover;
}

.speakers-img-phone {
  margin-top:0px;
  background-image: image-url('coming_soon.jpg');
  background-size: cover;
}

.speakers-margin-bot {
  margin-bottom: 70px;
}
.speakers-marge1 {
  margin-left: 9%;
}

.speakers-marge2 {
  margin-left: 2%;
  margin-right: 2%;
}

.speaker1-img {
  background-image: image-url('clairetry.jpg');
  background-size: cover;
}

.speaker2-img {
  background-image: image-url('Cheryl.png');
  background-size: cover;
}

.speaker3-img {
  background-image: image-url('Celine.jpg');
  background-size: cover;
}

.speaker4-img {
  background-image: image-url('Alain.png');
  background-size: cover;
}

.speaker5-img {
  background-image: image-url('malcolm.jpg');
  background-size: cover;
}

.speaker6-img {
  background-image: image-url('empty.png');
  background-size: cover;
}

.speaker7-img {
  background-image: image-url('violaine.jpg');
  background-size: cover;
}

.speaker8-img {
  background-image: image-url('Noelle.png');
  background-size: cover;
}

.speaker9-img {
  background-image: image-url('Kirby.jpg');
  background-size: cover;
}

.speaker10-img {
  background-image: image-url('merlene.jpg');
  background-size: cover;
}

.speaker11-img {
  background-image: image-url('Manuel.png');
  background-size: cover;
}

.speaker12-img {
  background-image: image-url('Kuee.jpg');
  background-size: cover;
}

.speaker13-img {
  background-image: image-url('kubota.jpg');
  background-size: cover;
}

.speaker14-img {
  background-image: image-url('kazuo.jpg');
  background-size: cover;
}

.speaker15-img {
  background-image: image-url('Jean3.jpg');
  background-size: cover;
}

.speaker16-img {
  background-image: image-url('anne.jpg');
  background-size: cover;
}

.speaker17-img {
  background-image: image-url('damien.jpg');
  background-size: cover;
}

.speaker18-img {
  background-image: image-url('odile.jpg');
  background-size: cover;
}

.speaker19-img {
  background-image: image-url('lukas.jpg');
  background-size: cover;
}

.speaker20-img {
  background-image: image-url('beris.jpg');
  background-size: cover;
}

.speaker21-img {
  background-image: image-url('Alain.jpg');
  background-size: cover;
}

.speaker22-img {
  background-image: image-url('deborah.jpg');
  background-size: cover;
}

.speaker23-img {
  background-image: image-url('joachim.jpg');
  background-size: cover;
}

.speaker24-img {
  background-image: image-url('corinne.jpg');
  background-size: cover;
}

.speakers-img-height {
  height: 250px;
  width: 270px;
  border-radius: 50%;
  margin-left: auto;
  margin-right: auto;
}
