<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">`
</div>

<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
</div>

<div class="container-fluid hidden-xs hands-img padding-img text-center">
  <!-- <h3 class="welcome_to_brussels-title-police">Programme</h3> -->
</div>
<!-- phone part-->
<div class="container-fluid visible-xs hands-img-phone padding-img-phone-prog text-center">
  <!-- <h3 class="welcome_to_brussels-title-police-phone">Programme</h3> -->
</div>

<div class="row text-justify margin-text-prog-phone">
  <div class="container-fluid col-sm-4 bg-3 font-size-all">
    <div class="">
<!--    <div class=" margin-text-prog1 hidden-md hidden-sm hidden-xs">-->
      <p>Opened by Mrs. Fremault, Minister of Housing of Brussels, the 6 th World Homeshare Congress will bring together organizations from around the world, Australia, Japan, South Korea, Austria, France, UK, USA, Spain, Germany, etc.</p>
      <p>A unique opportunity to learn more about the "good practices" developed abroad and which, faced with the aging of the population, respond more and more to a real societal challenge.</p>
    </div>
    <!-- phone part -->
<!--    <div class="margin-text-prog-phone visible-md visible-sm visible-xs">-->
<!--      <p>Opened by Mrs. Fr&eacute;mault, Minister of Housing of Brussels, the 6 th World Homeshare Congress will bring together organizations from around the world, Australia, Japan, South Korea, Austria, France, UK, USA, Spain, Germany, etc.</p>-->
<!--      <p>A unique opportunity to learn more about the "good practices" developed abroad and which, faced with the aging of the population, respond more and more to a real societal challenge.</p>-->
<!--    </div>-->
  </div>

  <div class="container-fluid col-sm-4 bg-2 font-size-all">
<!--  <div class="container-fluid col-sm-4 bg-2 font-size-all hidden-md hidden-sm hidden-xs">-->
    <p>The congress will also welcome experts in the field of aging, the social impact, sociologists interested in the issue of housing for the elderly, private and public organizations who will analyze this impetus of intergenerational housing and present new ideas to develop them more.</p>
    <p>What marketing strategy to adopt, what role to give to new technologies, the importance of networking ... the place of older people in Europe .. so many topics to be addressed on 21 and 22 March 2019.</p>
    <p>&nbsp;</p>
    <b class="text-center"><p>The full program will be posted soon.</p></b>
    <p>&nbsp;</p>
  </div>
 <!-- phone part -->
<!--  <div class="container-fluid margin-text-prog-phone col-sm-4 bg-2 font-size-all visible-md visible-sm visible-xs">-->
<!--    <p>The congress will also welcome_to_brussels experts in the field of aging, the social impact, sociologists interested in the issue of housing for the elderly, private and public organizations who will analyze this impetus of intergenerational housing and present new ideas to develop them more.</p>-->
<!--    <p>What marketing strategy to adopt, what role to give to new technologies, the importance of networking ... the place of older people in Europe .. so many topics to be addressed on 21 and 22 March 2019.</p>-->
<!--    <p>&nbsp;</p>-->
<!--    <b class="text-center"><p>The full program will be posted soon.</p></b>-->
<!--  </div>-->

  <div class="container-fluid col-sm-4 bg-3 font-size-all">
    <div class="margin-text-prog2">
<!--    <div class="margin-text-prog2 hidden-md hidden-sm hidden-xs">-->
      <p>Speakers include Professor Malcolm Jonhson, President of Homeshare International. Director of the International Institute on Health and Aging, UK,</p>
      <p>Anne-Sophie Parent, Secretary General of AGE Platform Europe (a European network of non-profit organizations of and for people aged 50+, which aims to voice and promote the interests of the 190 million citizens aged 50+ in the European),</p>
      <p>Violaine Leyder of CARSAT (French Social Security) will speak about the origins of the first Europe-wide web platform established to match housesharers with one another.  PLEASE NOTE  there will be many other memorable experts to hear and meet.</p>
      <!-- <p>and many other experts is worth remembering.</p> -->
    </div>
   <!-- phone part -->
<!--    <div class="margin-text-prog-phone visible-md visible-sm visible-xs"">-->
<!--      <p>Speakers include Professor Malcolm Jonhson, President of Homeshare International. Director of the International Institute on Health and Aging, UK,</p>-->
<!--      <p>Anne-Sophie Parent, Secretary General of AGE Platform Europe (a European network of non-profit organizations of and for people aged 50+, which aims to voice and promote the interests of the 190 million citizens aged 50+ in the European),</p>-->
<!--      <p>Laetitia Dam of CARSAT (French Social Security) will speak about the origins of the first Europe-wide web platform established to match housesharers with one another.  PLEASE NOTE  there will be many other memorable experts to hear and meet.</p>-->
<!--      <!-- <p>and many other experts is worth remembering.</p> -->
<!--    </div>-->
  </div>
</div>
