<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
</div>

<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
</div>
<div class="container-fluid hidden-xs hands-img-fr padding-img text-center">
  <!-- <h3 class="welcome-title-police">Programme</h3> -->
</div>
<!-- phone part-->
<div class="container-fluid visible-xs hands-img-phone-fr padding-img-phone-prog text-center">
  <!-- <h3 class="welcome-title-police-phone">Programme</h3> -->
</div>


<div class="row text-justify margin-text-prog-phone">
  <div class="container-fluid col-sm-4 bg-3 font-size-all">
    <div class="">
      <!--    <div class=" margin-text-prog1 hidden-md hidden-sm hidden-xs">-->
      <p>Ouvert par Madame Fremault, Ministre Bruxellois du Logement, le 6&egrave;me Congr&egrave;s du Logement Interg&eacute;n&eacute;rationnel r&eacute;unira les promoteurs du logement intergénérationnel du monde entier, de l'Australie aux USA, du Japon et de la Cor&eacute;e du Sud, de l'Autriche, de la France, du Royaume-Uni, de l'Espagne, l'Allemagne, et encore bien d'autres régions.</p>
      <p>Une occasion unique d&rsquo;en savoir plus sur les &laquo; bonnes pratiques &raquo; en matière de logement partagé d&eacute;velopp&eacute;es &agrave; l&rsquo;&eacute;tranger et de dégager des solutions humaines qui, face au vieillissement de la population, r&eacute;pondent de plus en plus &agrave; un r&eacute;el enjeu soci&eacute;tal.</p>
    </div>

  </div>

  <div class="container-fluid col-sm-4 bg-2 font-size-all">
    <p>Le congr&egrave;s accueillera des membres du corps scientifique spécialisés dans les problématiques que touche le logement partagé : des chercheurs qui s'interrogent sur le vieillissement de la population, l&rsquo;impact social du logement partagé et le logement des personnes &acirc;g&eacute;es. Des organismes priv&eacute;s et publics analyseront cette &eacute;lan du logement interg&eacute;n&eacute;rationnel et pr&eacute;senteront des id&eacute;es nouvelles pour les d&eacute;velopper davantage.</p>
    <p>Quelle strat&eacute;gie marketing adopter, quel r&ocirc;le donner aux nouvelles technologies et au réseau "networking", quelle est la place des personnes &acirc;g&eacute;es au sein de l&rsquo;Europe...? Autant de sujets qui seront abord&eacute;s les 21 et 22 mars 2019 à Bruxelles.</p>
    <!--  <p class="text-center green font-size-all margin-progr"> -->
    <b class="text-center"><p>Le programme complet sera mis en ligne prochainement.</p></b>
  </div>

  <div class="container-fluid col-sm-4 bg-3 font-size-all">
    <div class="margin-text-prog2">
      <p>Parmi les intervenants, retenez déjà :<p>
      <p>Malcolm Jonhson, Président de Homeshare International et directeur de l&rsquo;International Institute on Health and Ageing, au Royaume-Uni,</p>
      <p>Madame Anne-Sophie Parent, Secrétaire G&eacute;n&eacute;ral de AGE Platform Europe (un r&eacute;seau europ&eacute;en d'associations &agrave; but non lucratif de et pour les personnes &acirc;g&eacute;es de plus de 50 ans, qui vise &agrave; exprimer et promouvoir les int&eacute;r&ecirc;ts des 190 millions de citoyens &acirc;g&eacute;s de 50 ans et plus dans l'Europe),</p>
      <p>Violaine Leyder de la CARSAT (S&eacute;curit&eacute; sociale Fran&ccedil;aise), &agrave; l&rsquo;origine de la 1ère plateforme europ&eacute;enne de cohabitation via le web.</p>

    </div>

  </div>
</div>


