<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
  <span class="languages2"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>

<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
  <span class="languages2-phone"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>
<div class="container-fluid hidden-xs hands-img-fr text-center">
  <!-- <h3 class="welcome-title-police">Programme</h3> -->
</div>
<!-- phone part-->
<div class="container-fluid visible-xs hands-img-phone-fr text-center">
  <!-- <h3 class="welcome-title-police-phone">Programme</h3> -->
</div>

<div class="row">
  <div class="container-fluid col-sm-4 bg-3 text-center font-size-all">
    <p>Ouvert par Madame Fr&eacute;mault, Ministre Bruxellois du Logement, le 6 &egrave;me congr&egrave;s du logement Interg&eacute;n&eacute;rationnel r&eacute;unira des associations du monde entier, Australie, Japon, Cor&eacute;e du Sud, Autriche, France, UK, USA, Espagne, Allemagne&hellip;.etc</p>
    <p>Une occasion unique d&rsquo;en savoir plus sur les &laquo; bonnes pratiques &raquo; d&eacute;velopp&eacute;es &agrave; l&rsquo;&eacute;tranger et qui, face au vieillissement de la population, r&eacute;pondent de plus en plus &agrave; un r&eacute;el enjeu soci&eacute;tal.</p>
  </div>

  <div class="container-fluid col-sm-4 bg-2 text-center font-size-all">
    <p>Le congr&egrave;s accueillera &eacute;galement des experts dans le domaine du vieillissement, de l&rsquo;impact social, des sociologues int&eacute;ress&eacute;s par la probl&eacute;matique du logement des personnes &acirc;g&eacute;es, des organismes priv&eacute;s et publics qui analyseront cette &eacute;lan du logement interg&eacute;n&eacute;rationnel et pr&eacute;senteront des id&eacute;es nouvelles pour les d&eacute;velopper davantage.</p>
    <p>Quelle strat&eacute;gie marketing adopter, quel r&ocirc;le donner aux nouvelles technologies, l&rsquo;importance du networking, la place des personnes &acirc;g&eacute;es au sein de l&rsquo;Europe. Autant de sujets qui seront abord&eacute;s les 20-21 mars 2019.</p>
   <!--  <p class="text-center green font-size-all margin-progr"> -->
    <p>&nbsp;</p>
    <b><p>Le programme complet sera mis en ligne prochainement.</p></b>
    <b><p>Vid&eacute;o ?</p></b>
    <b><p>Mise en ligne de l&rsquo;int&eacute;gralit&eacute; le 20 octobre 2018 ( j &ndash; 6 mois )</p></b>
  </div>

  <div class="container-fluid col-sm-4 bg-3 text-center font-size-all">
    <p>Parmi les intervenants, retenez d&eacute;j&agrave; la pr&eacute;sence du professeur Malcolm Jonhson, President de Homeshare International, directeur de l&rsquo;International Institute on Health and Ageing, en UK,</p>
    <p>de Madame Anne Sophie Parent, Secretaire G&eacute;n&eacute;ral de AGE Platform Europe (un r&eacute;seau europ&eacute;en d'associations &agrave; but non lucratif de et pour les personnes &acirc;g&eacute;es de plus de 50 ans, qui vise &agrave; exprimer et promouvoir les int&eacute;r&ecirc;ts des 190 millions de citoyens &acirc;g&eacute;s de 50 ans et plus dans l'Europe)</p>
    <p>de Laetitia DAM de la CARSAT s&eacute;curit&eacute; sociale Fran&ccedil;aise, &agrave; l&rsquo;origine de la 1ere plateforme europ&eacute;enne de cohabitation via le web,</p>
    <p>et de nombreux autres experts.</p>
  </div>
</div>
