<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
</div>

<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
</div>

<div class="container-fluid hidden-xs text-center padding-img4 binome_img-fr ">
</div>
<!-- phone part -->
<div class="container-fluid visible-xs text-center padding-img4-phone binome_img-phone-fr ">
</div>

<div class="container-fluid hidden-xs text-center padding-img3 map-img">
</div>
<!-- phone part -->
<div class="container-fluid visible-xs text-center">
</div>
<div class="container-fluid visible-xs text-center padding-img3-phone map-img-phone">
</div>

<div class="container-fluid bg-2 font-size-all">
  <div class="col-sm-12 col-xs-12  col-lg-6 col-lg-offset-3  col-md-8 col-md-offset-2">
    <p class="text-justify">C'est en juillet 2009 que R&eacute;gis et Claire de Kerautem fondent l&rsquo;ASBL
      1Toit2Ages, à Bruxelles. Trois ans plus tard, sur la demande de seniors et d'étudiants motivés par ce projet de
      cohabitation win-win, l'association décide d'ouvrir des antennes en Wallonie.</p>
    <p class="text-justify">Aujourd'hui, 1Toit2Ages est présente à Bruxelles et dans toutes les villes étudiantes de
      Wallonie : Namur, Mons, Louvain-la-Neuve, Liège, Tournai, Gembloux, Marche-en-Famenne et Charleroi.
    <p>
    <p class="text-justify">L'équipe d'1Toit2Ages est compos&eacute;e de profils tr&egrave;s divers : juriste,
      assistante sociale, journaliste, neuropsychologue, &eacute;conomiste, enseignant, retraité... chacun apportant ses
      comp&eacute;tences, ses connaissances, sa sensibilit&eacute; et son &eacute;coute &agrave; ce projet
      fondamentalement humain.</p>
  </div>
</div>

<div class="container-fluid bg-3 text-center font-size-all green">
  <p class="font-size-welcome-intertitle"><b>Notre Mission ?</b></p>
  <p class="margin-text-all text-center">Rompre la solitude des personnes &acirc;g&eacute;es et faciliter l&rsquo;acc&egrave;s
    au logement pour les &eacute;tudiants.</p>
  <p class="font-size-welcome-intertitle"><b>Notre rêve ?</b></p>
  <p class="text-center">Une soci&eacute;t&eacute; o&ugrave; les g&eacute;n&eacute;rations s&rsquo;entraident et s&rsquo;enrichissent
    mutuellement.</p>
  <p class="text-center">Nous y croyons et mettons tout en place pour y arriver !</p>
</div>

<div class="container-fluid bg-2 font-size-all">
  <div class="col-sm-12 col-xs-12  col-lg-6 col-lg-offset-3  col-md-8 col-md-offset-2">
    <p class="text-center"><b class="font-size-welcome-intertitle">Notre travail au quotidien :</b></p>
    <p class="text-justify">Le rôle de l&rsquo;ASBL 1Toit2Ages est de mettre en relation des accueillants et
      des &eacute;tudiants dont les attentes sont compatibles.</p>
    <p class="text-justify">Dans un premier temps, nous rencontrons individuellement celles et ceux qui sont int&eacute;ress&eacute;s
      par ce projet, afin de nous assurer de leur d&eacute;sir effectif de participer &agrave; cette aventure
      humaine.</p>
    <p class="text-justify">Nous rendons visite aux candidats accueillants. Nous nous assurons de la qualit&eacute; du
      logement propos&eacute; lors d&rsquo;un entretien approfondi, nous &eacute;tablissons un dossier et d&eacute;finissons
      la formule qui convient le mieux à la personne et à son mode de vie.</p>
    <p class="text-justify">De la m&ecirc;me fa&ccedil;on, nous avons un entretien approfondi avec les &eacute;tudiants
      pour nous assurer qu&rsquo;ils sont dans l&rsquo;esprit de l&rsquo;habitat interg&eacute;n&eacute;rationnel et
      pour conna&icirc;tre leur disponibilit&eacute; envers la personne d&rsquo;accueil.
    <p class="text-justify">Quand il nous semble que tel accueillant et tel jeune peuvent cohabiter de mani&egrave;re
      harmonieuse dans une dynamique positive, nous les mettons en relation afin qu'ils se rencontrent.</p>
    <p class="text-justify">A l'issue de cette rencontre, si les deux candidats d&eacute;cident de vivre l'exp&eacute;rience,
      ils signent une convention personnalis&eacute;e pr&eacute;cisant le choix de la formule choisie. A ce moment-là,
      ils deviennent membres de l'association 1Toit2Ages et s&rsquo;acquittent de la cotisation annuelle.</p>
    <p class="text-justify">Par ces mises en relation sous un même toit, nous souhaitons contribuer au maintien des
      liens entre g&eacute;n&eacute;rations, enrichissants pour chacun.</p>
    <br>
    <p class="text-justify">Toute l&rsquo;&eacute;quipe d&rsquo;1Toit2Ages se r&eacute;jouit de vous accueillir les
      21-22 mars 2019 lors du 6&egrave;me congr&egrave;s mondial du logement intergénérationnel !</p>
    <p class="text-center">Plus d&rsquo;info :
      <b><a href="http://www.1toit2ages.be" target="_blank">www.1toit2ages.be</a></b></p>
  </div>
</div>
