<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
  <span class="languages2"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>
<!-- phone part -->
<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
  <span class="languages2-phone"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>

<div class="container-fluid hidden-xs text-center padding-img4 binome_img ">
</div>
<!-- phone part -->
<div class="container-fluid visible-xs text-center binome_img-phone ">
</div>

<div class="container-fluid hidden-xs text-center padding-img3 map-img">
</div>
<!-- phone part -->
<div class="container-fluid visible-xs text-center">
</div>
<div class="container-fluid visible-xs text-center padding-img3-phone map-img-phone">
</div>

<div class="container-fluid bg-2 font-size-all">
 <p class="x_MsoNormal margin-text-all"><span lang="FR-BE">R&eacute;gis and Claire de Kerautem create in Belgium in july 2009, the non-profit organization 1toit2ages. It starts in Brussels before pursuing its development three years later in Wallonia, further to the numerous calls of seniors and students motivated by this win-win project.</span></p>
 <p class="x_MsoNormal margin-text-all"><span lang="FR-BE">1toit2ages is composed of a very diverse profile team ; jurist, social worker, journalist, neuropsychologist, economist, professors, senior... </span><span lang="FR-BE">Each bringing his knowledge, sensibility and listening to this very human project.</span></p>
</div>

<div class="container-fluid bg-3 text-center font-size-all">
  <p class="font-size-welcome-intertitle"><b>Our mission ?</b></p>
  <p>Breaking the loneliness of the elderly and facilitating access to housing for students.</p>
  <p class="font-size-welcome-intertitle"><b>Our dream ?</b></p>
  <p>A society where the generations help each other and enrich each other.</p>
  <p>We believe in it and put everything in place to make it happen!</p>
</div>

<div class="container-fluid bg-2 font-size-all">
  <p class="text-center"><b class="font-size-welcome-intertitle">How does this scheme work ?</b></p>
  <p class="margin-text-all">The purpose of 1toit2ages is to put likeminded householders and students in touch, to provide student accommodation that is cost-effective, mutually beneficial and based on respect and trust.</p>
  <p class="margin-text-all">To start with, we meet individuals who express an interest in our scheme. We visit the householder to check the quality of the proposed accommodation. During an in-depth interview, we discuss the type of arrangement which suits them best.</p>
  <p class="margin-text-all">Similarly, we interview possible student participants to assure ourselves that they have the right frame of mind for intergenerational living and to assess their suitability for householders. When we have identified householders and students who appear compatible we put them in contact.</p>
  <p class="margin-text-all">Once they have met, potential participants are invited to decide if they want to go ahead with the arrangement. If so, a personalised agreement between participants is prepared, specifying the arrangement that they have chosen, and they are asked to subscribe to our association.</p>
  <p class="margin-text-all">Our intention is to support the maintenance and strengthening of connections between generations, to their mutual benefit and enrichment.</p>
  <p class="margin-text-all">1toit2ages is now active in Bruxelles, Namur, Mons, Louvain La Neuve, Liege, Tournai, Gembloux, Marche en Famenne and Charleroi.</p>
  <p class="margin-text-all text-center">More information : <b><a href="http://www.1toit2ages.be">www.1toit2ages.be</a></b></p>
</div>
