<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
  <span class="languages2"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>

<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
  <span class="languages2-phone"><%= link_to "Français", :locale=>'fr'%></span>
  <span class="languages"><%= link_to "English", :locale=>'en'%></span>
</div>

<div class="container-fluid padding-img hidden-xs text-center binome_img-fr ">
</div>
<!-- phone part -->
<div class="container-fluid visible-xs text-center binome_img-phone ">
</div>

<div class="container-fluid hidden-xs text-center map-img">
</div>
<!-- phone part -->
<div class="container-fluid visible-xs text-center">
</div>
<div class="container-fluid visible-xs text-center map-img-phone">
</div>

<div class="container-fluid bg-2 font-size-all">
  <div class="margin-text-all">
  <p>C'est en juillet 2009 que R&eacute;gis et Claire de Kerautem cr&eacute;ent l&rsquo;ASBL 1toit2ages. Elle d&eacute;marre &agrave; Bruxelles avant de poursuivre son d&eacute;veloppement trois ans plus tard en Wallonie, suite aux nombreux appels de seniors et d&rsquo;&eacute;tudiants motiv&eacute;s par ce projet gagnant-gagnant .</p>
  <p>L&rsquo;ASBL 1toit2ages est compos&eacute;e d&rsquo;une &eacute;quipe aux profils tr&egrave;s divers; juriste, assistante sociale, journaliste, neuropsychologue, &eacute;conomiste, professeurs, senior... chacun apportant ses comp&eacute;tences, ses connaissances, sa sensibilit&eacute; et son &eacute;coute &agrave; ce projet purement Humain.</p>
</div>
</div>

<div class="container-fluid bg-3 text-center font-size-all green">
  <p><b>Notre Mission ?</b></p>
<p>Rompre la solitude des personnes &acirc;g&eacute;es et faciliter l&rsquo;acc&egrave;s au logement pour les &eacute;tudiants.</p>
<p><b>Notre rêve ?</b></p>
<p>Une soci&eacute;t&eacute; o&ugrave; les g&eacute;n&eacute;rations s&rsquo;entraident et s&rsquo;enrichissent mutuellement.</p>
<p>Nous y croyons et mettons tout en place pour y arriver !</p>
</div>

<div class="container-fluid bg-2 font-size-all">
  <div class="margin-text-all">
  <p class="text-center"><b>Notre travail au quotidien :</b></p>
<p>Le souhait de l&rsquo;ASBL 1 toit 2 Ages est de mettre en relation des personnes d&rsquo;accueil et des &eacute;tudiants dont les attentes sont compatibles.</p>
<p>Dans un premier temps, nous rencontrons individuellement celles et ceux qui sont int&eacute;ress&eacute;s par ce projet, afin de nous assurer de leur d&eacute;sir effectif de participer &agrave; cette d&eacute;marche qui implique discr&eacute;tion, respect et confiance.</p>
<p>Nous rendons visite &agrave; la personne d&rsquo;accueil. Nous nous assurons de la qualit&eacute; du logement propos&eacute; lors d&rsquo;un entretien approfondi, nous &eacute;tablissons un dossier et d&eacute;finissons la formule qui convient le mieux.</p>
<p>De la m&ecirc;me fa&ccedil;on, nous avons un entretien approfondi avec les &eacute;tudiants pour nous assurer qu&rsquo;ils sont dans l&rsquo;esprit de l&rsquo;habitat interg&eacute;n&eacute;rationnel et pour conna&icirc;tre leur disponibilit&eacute; envers la personne d&rsquo;accueil. Quand il nous semble que les personnes d&rsquo;accueil et les jeunes peuvent cohabiter de mani&egrave;re harmonieuse, nous vous mettons en relation.</p>
<p>Si les deux candidats, apr&egrave;s s&rsquo;&ecirc;tre rencontr&eacute;s, d&eacute;cident de vivre cette exp&eacute;rience, ils signent une convention personnalis&eacute;e pr&eacute;cisant le choix de la formule choisie et s&rsquo;acquittent de la cotisation annuelle aupr&egrave;s de l&rsquo;association.</p>
<p>Nous souhaitons ainsi contribuer au maintien d&rsquo;un lien entre deux g&eacute;n&eacute;rations, enrichissant pour chacun.</p>
<p>1toit2ages est d&eacute;sormais pr&eacute;sente &agrave; Bruxelles, Namur, Mons, Louvain La Neuve, Liege, Tournai, Gembloux, et Marche en Famenne.</p>
<p>L&rsquo;&eacute;quipe d&rsquo;1toit2ages au grand complet ( photos ) se r&eacute;jouit de vous accueillir les 20-21 mars 2019 lors du 6 &egrave;me congr&egrave;s mondial de logement intergenerationel.</p>
<p class="text-center">Plus d&rsquo;info : <b><a href="http://www.1toit2ages.be">www.1toit2ages.be</a></b></p>
</div>
</div>
