<div class=" above-navbar hidden-md hidden-sm hidden-xs text-center">
</div>
<!-- phone part -->
<div class=" above-navbar-phone visible-md visible-sm visible-xs text-center">
</div>

<div class="container-fluid bg-3 text-center">
  <h3>Where To Find Me?</h3>
  <div class="row">
    <div class="col-sm-4 text-justify ">
      <p>
CLAIRE ET RÉGIS DE KERAUTEM

Ancienne enseignante, Claire a créé en 2009 avec son mari Régis, l’association 1Toit2Ages en Belgique.

Régis, économiste, fait partie depuis plusieurs années de Test-Achats, une association qui veille à la protection des consommateurs. Pourtant, c’est via une  expérience personnelle que  Régis et Claire ont compris les avantages du logement intergénérationnel et sa capacité à aider les personnes âgées à rester plus longtemps chez elles avec une meilleure qualité de vie. C'est ce qui les a incités à établir 1 Toit 2 Ages en Belgique. Depuis lors, Régis est président de l'association et participe activement à son développement au sein d'une équipe très motivée qui œuvre pour la croissance de 1 Toit 2 Ages. Claire est la directrice et  travaille au côté de onze personnes efficaces pour développer le projet. L’ASBL est maintenant  active dans neuf villes de Belgique et décline depuis quelques années son projet par la création d’immeubles intergénérationnels en partenariat avec des acteurs publics.
Régis a rejoint le conseil d'administration de Homeshare International en 2018.</p>
      <img src="birds1.jpg" alt="Image">
    </div>
    <div class="col-sm-4">
      <p class="text-justify">
      <span lang="FR-BE"><%= raw t :ProgBX_Txt1 %></span>
    </p>
    <p class="text-justify">
      <span lang="FR-BE"><%= raw t :ProgBX_Txt2 %></span>
    </p>
      <img src="birds2.jpg" alt="Image">
    </div>
    <div class="col-sm-4">
      <p>Lorem ipsum..</p>
      <img src="birds3.jpg" alt="Image">
    </div>
  </div>
</div>



